<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fag.edu.com.gerenciadordefichadeaviario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RelatorioDetalhadoActivity"
            android:label="@string/title_activity_relatorio_detalhado"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RelatorioActivity"
            android:label="@string/title_activity_relatorio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoteActivity" />
        <activity
            android:name=".RacaoActivity"
            android:label="@string/title_activity_racao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlimentacaoActivity"
            android:label="@string/title_activity_alimentacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrarActivity"
            android:label="@string/title_activity_registrar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VacinaActivity"
            android:label="@string/title_activity_vacina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MortalidadeActivity"
            android:label="@string/title_activity_mortalidade"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PesagemActivity"
            android:label="@string/title_activity_pesagem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PesosActivity"
            android:label="@string/title_activity_pesos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HidrometroActivity"
            android:label="@string/title_activity_hidrometro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAviario"
            android:label="@string/title_activity_add_aviario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelecaoAviario"
            android:label="@string/title_activity_selecao_aviario"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="DATABASE"
            android:value="projeto.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="fag.edu.com.gerenciadordefichadeaviario" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>